<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="background"></div>
      <img
        src="../../assets/images/pexels-valeria-boltneva-1639557.jpg"
        alt="First slide"
      />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="background"></div>
      <img
        src="../../assets/images/pexels-valeria-boltneva-1639562.jpg"
        alt="Second slide"
      />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="background"></div>
      <img
        src="../../assets/images/pexels-jonathan-borba-2983101.jpg"
        alt="Third slide"
      />
    </div>
  </ng-template>
</ngb-carousel>
